<div class="row g-3 align-items-center p-2">
    <div class="col-2">
        <label for="{{ form_predio.propietario.id_for_label }}">{{ form_predio.propietario.label }}</label>
    </div>
    <div class="col-8">
        {{ form_predio.propietario }}
    </div>
</div>
<div class="row g-3 align-items-center p-2">
    <div class="col-2">
        <label for="{{ form_predio.nombre.id_for_label }}">{{ form_predio.nombre.label }}</label>
    </div>
    <div class="col-8">
        {{ form_predio.nombre }}
    </div>
</div>
<div class="row g-3 align-items-center p-2">
    <div class="col-2">
        <label for="{{ form_predio.direccion.id_for_label }}">{{ form_predio.direccion.label }}</label>
    </div>
    <div class="col-8">
        {{ form_predio.direccion }}
    </div>
</div>
<div class="row g-3 align-items-center p-2">
    <div class="col-2">
        <label for="{{ form_predio.latidud.id_for_label }}">{{ form_predio.latidud.label }}</label>
    </div>
    <div class="col-8">
        {{ form_predio.latidud }}
    </div>
</div>
<div class="row g-3 align-items-center p-2">
    <div class="col-2">
        <label for="{{ form_predio.longitud.id_for_label }}">{{ form_predio.longitud.label }}</label>
    </div>
    <div class="col-8">
        {{ form_predio.longitud }}
    </div>
</div>