<div class="row g-3 align-items-center p-2">
    <div class="col-2">
        <label for="{{ form_propietario.nombres.id_for_label }}">{{ form_propietario.nombres.label }}</label>
    </div>
    <div class="col-8">
        {{ form_propietario.nombres }}
    </div>
</div>
<div class="row g-3 align-items-center p-2">
    <div class="col-2">
        <label for="{{ form_propietario.apellidos.id_for_label }}">{{ form_propietario.apellidos.label }}</label>
    </div>
    <div class="col-8">
        {{ form_propietario.apellidos }}
    </div>
</div>
